{% extends 'layout.html.twig' %}

{% block title %}{{ task.name }}{% endblock %}

{% block content %}
  <h1>Tarea "{{ task.name }}"</h1>
  <span>{{ task.description }}</span>

  <h6>Subtareas:</h6>
  <ol>
    {% for item in task.items %}
      <li>{{ item.name }}</li>
    {% endfor %}
  </ol>
{% endblock %}
